html {
	--default-padding: 1rem 0;
}

body {
	font-family: sans-serif;
	background: black;
	color: #eee;
}

main {
	max-width: 800px;
	margin: auto;
	padding: var(--default-padding);
}

nav ul {
	display: flex;
	gap: 5px;
	list-style-type: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}

h1,
footer,
.taglist {
	text-align: center;
}

h2,
h3,
:not(h2, h3) + h4 {
	margin-top: 2rem;
}

article {
	padding: var(--default-padding);
}

a {
	color: mediumseagreen;
}
a:visited {
	color: forestgreen;
}

code {
	background-color: midnightblue;
}
