html {
	--default-padding: 1rem 0;
}

body {
	font-family: sans-serif;
	background: black;
	color: #eee;
}

main {
	max-width: 800px;
	margin: auto;
	padding: var(--default-padding);
}

nav ul {
	display: flex;
	gap: 5px;
	list-style-type: none;
}

nav#TableOfContents ul {
	display: block;
	list-style-type: disc;
}

// there is probably a more elegant way to exclude "Table of Contents" from
// the Table of Contents... but this works for now
nav#TableOfContents ul li:first-of-type {
	display: none;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0;
}

p#last-updated {
	font-size: 0.9rem;
	font-style: italic;
	margin-top: 0;
}

h2 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

h1,
footer,
.taglist {
	text-align: center;
}

h2,
h3,
:not(h2, h3) + :is(h4, h6) {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

article {
	padding: var(--default-padding);
}

a {
	color: mediumseagreen;
}
a:visited {
	color: forestgreen;
}

code {
	background-color: midnightblue;
}
