{{ define "main" }}
<h1>Mega Ranking List of Everything</h1>

{{ .Content }}

<h2>Rankings</h2>
{{ $rankings := sort (sort .Site.Data.rankings.rankings "name" "asc") "score"
"desc" }}
<ol>
	{{ range $rankings }}
	<li>
		{{ if .url }}
		<a href="{{ .url }}" target="_blank">{{ .name }}</a> - {{ .score }}/10
		{{ else }} {{ .name }} - {{ .score }}/10 {{ end }}
	</li>
	{{ end }}
</ol>

	<p>It's really hard to assign one number to some of these. Like the Internet, which simultaneously amplifies the best things in life for one person and immerses someone else in the worst, most depraved and reprehensible parts... I give more weight to theoretical best than theoretical worst.</p>

{{ end }}

